[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sortedcontainers = ">=1.5.10"
toolz = ">=0.9.0"
TagStats = ">=0.1.2"
regexorder = "*"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
python-markdown-math = "*"

[requires]
python_version = "3.6"
